.advert-parent {
  position: absolute;
  width: 613px;
  height: 265px;
  left: 96px;
  padding: 34px;
  top: 110px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 11px;
}

.slider {
  position: relative;
  height: 500px;
}

.carousel-images {
  height: 500px;
  object-fit: cover;
}

.title {
  width: 351px;
  height: 74px;
  left: 126px;
  top: 136px;
  color: #000000;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
}

.text {
  width: 562px;
  height: auto;
  left: 126px;
  top: 214px;
  color: #000000;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.button {
  width: 144px;
  height: 41px;
  left: 127px;
  top: 304px;
  color: black;
  font-weight: 800;
  font-family: Nunito;
  margin-top: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #fad136 0%, #fadd49 100%);
  border-radius: 35px;
}
.flying-image {
  height: 373px;
  width: 313px !important;
  position: absolute;
  top: 100px;
  right: 150px;
}

.owl-dots {
  margin-top: -100px !important;
  z-index: 2000;
}
/* smaller screens */

@media screen and (max-width: 768px) {
  .advert-parent {
    position: absolute;
    height: 160px;

    width: 344.6679382324219px;
    left: 17px;
    top: 53px;
    border-radius: 6.184905529022217px;
  }

  .slider {
    position: relative;
    height: 353px;
  }

  .carousel-images {
    height: 353px;
    object-fit: cover;
  }

  .title {
    width: 197.35px;
    height: 30px;
    color: #000000;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 17.99px;
    line-height: 20px;
    margin-top: -20px;
  }

  .text {
    font-family: Nunito;
    width: 96%;
    margin-top: 20px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
  }

  .button {
    width: 80.97px;
    height: 23.05px;
    left: 34.43px;

    color: black;
    font-weight: 800;
    font-family: Nunito;
    margin-top: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flying-image {
    height: 134px;
    width: 159px !important;
    position: absolute;
    top: 200px;
    right: 40px;
    object-fit: contain;
    z-index: 3000;
  }
}
