<div class="overall">
  <div id="overlay" *ngIf="showOverlay" (click)="handleModal()"></div>
  <div id="custom-modal" *ngIf="showOverlay">
    <div id="jumbotron">
      <div id="exitBox" (click)="handleModal()">
        <img src="../../assets/vectors/x.svg" />
      </div>
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida enim
        diam, et scelerisque sem egestas quis. In ac purus bibendum, pulvinar
        lorem quis, sagittis nulla. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Phasellus at enim bibendum odio fermentum semper.
        Phasellus ipsum dolor, interdum vitae consequat in, bibendum sit amet
        elit. Phasellus scelerisque urna at pharetra blandit. Maecenas
        ultricies, sem vel laoreet accumsan, sem tellus convallis ligula,
        aliquet consequat urna nisi ac erat. Duis non efficitur magna, id
        sagittis leo. Praesent congue, lectus eu mollis mattis, leo sem maximus
        ante, ut rhoncus enim enim id sapien. Aenean maximus erat sit amet nulla
        accumsan, in dictum urna vehicula. Donec finibus aliquet dolor, ut
        interdum mi sodales in. Nulla ut dapibus dolor, non semper dui. Sed
        neque erat, laoreet eu egestas ut, venenatis et arcu. Maecenas dapibus
        quis orci sed tincidunt. Vestibulum tincidunt tristique sapien in
        malesuada. Nunc aliquam quis lorem malesuada vestibulum. Aliquam
        suscipit iaculis arcu, semper cursus odio dictum eu. Donec sed eros id
        eros ultricies auctor sit amet non magna. Duis at massa vitae erat
        rhoncus mattis. Aliquam ultricies, neque ullamcorper finibus ultricies,
        neque est convallis risus, sit amet commodo dui est molestie massa.
        Aenean eu sollicitudin ante. Fusce luctus augue ipsum, quis sodales nunc
        blandit at. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia curae; Sed a bibendum augue. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Nunc hendrerit, nulla non condimentum feugiat, nisl ligula
        euismod dui, sit amet fermentum erat arcu ut neque. Aliquam tempor
        congue tortor, vitae hendrerit lacus dignissim ullamcorper. Donec
        scelerisque ac turpis non rhoncus. Integer orci dui, tempor eget urna
        eget, maximus cursus ipsum. Vestibulum ante ipsum primis in faucibus
        orci luctus et ultrices posuere cubilia curae; Etiam cursus tellus sit
        amet arcu tristique, a feugiat tellus volutpat. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Morbi sed dui volutpat, interdum
        quam eu, faucibus lacus. Mauris metus justo, tristique vitae imperdiet
        sed, congue eu felis. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Aliquam quis semper tortor,
        in viverra neque. In nec lacinia nulla, sed viverra turpis. Sed
        tristique rhoncus arcu non gravida. Mauris rhoncus consequat justo, nec
        rutrum augue rutrum vitae. Proin sit amet mollis est. In in gravida
        lacus, id aliquam nunc. Praesent interdum ante arcu, sit amet ultricies
        nisi consequat eget. Nulla maximus suscipit nunc, sollicitudin lacinia
        dui. Vestibulum pretium at velit non molestie. Maecenas scelerisque
        vitae lorem tristique varius. Etiam at nisl aliquam, egestas tortor sit
        amet, mollis nibh. Donec nec risus non quam pulvinar bibendum suscipit
        quis sem. Nulla ut accumsan est, at laoreet urna. Nunc posuere ut dolor
        ut ornare. In lacinia viverra dui at posuere.
      </p>
    </div>
  </div>
  <div class="parent-content">
    <div
      class="sidebar"
      *ngIf="showSidebar"
      [ngStyle]="{ width: showSidebar ? '20%' : '0%' }"
    >
      <div class="pages">
        <div class="link-cont">
          <img
            src="../../assets/vectors/off-canvas-homepage.svg"
            class="icon"
          />
          <a routerLink="/home" routerLinkActive="active">Home page</a>
        </div>

        <div class="link-cont">
          <img src="../../assets/vectors/off-canvas-gift.svg" class="icon" />
          <a routerLink="/promotions" routerLinkActive="active">Promotions</a>
        </div>

        <div class="link-cont">
          <img src="../../assets/vectors/off-canvas-gift.svg" class="icon" />
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </div>

        <div class="link-cont">
          <img src="../../assets/vectors/off-canvas-gift.svg" class="icon" />
          <a routerLink="/create_event" routerLinkActive="active"
            >Create Event Listing</a
          >
        </div>

        <div class="link-cont">
          <img src="../../assets/vectors/off-canvas-gift.svg" class="icon" />
          <a routerLink="/event_listing" routerLinkActive="active"
            >Event Listing</a
          >
        </div>
      </div>
    </div>

    <div id="wrapper" [ngStyle]="{ width: showSidebar ? '80%' : '100%' }">
      <div class="container">
        <div class="hamburger" (click)="handleSidebar()" *ngIf="!showSidebar">
          <svg-icon src="../../assets/vectors/hamburger.svg" [stretch]="false">
          </svg-icon>
        </div>
        <div class="hamburger" (click)="handleSidebar()" *ngIf="showSidebar">
          <svg-icon src="../../assets/vectors/x.svg" [stretch]="false">
          </svg-icon>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of promotions">
            <app-info-card (greetEvent)="handleModal()" [title]="item.title">
            </app-info-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
