<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 px-lg-4">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">
              Casasoft Event Creation Page
            </div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Hi, welcome back! 👋👋</h3>
            <p class="text-muted text-sm mb-5">
              Quickly Create an Event, we got you covered!!!
            </p>

            <div class="alert alert-danger" *ngFor="let error of errorList">
              <strong>Error!</strong> {{ error }}
            </div>

            <div class="alert alert-success" *ngIf="isSuccess">
              <strong>Success!</strong> {{ successMsg }}
            </div>

            <form id="loginForm" (submit)="onSubmit($event)">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="floatingInput"
                  type="name"
                  placeholder="I will be getting married"
                  required
                  name="name"
                />
                <label for="floatingInput">Name of Event</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="floatingdate"
                  type="date"
                  placeholder="date"
                  required
                  name="date"
                />
                <label for="floatingdate">Date of event</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="floatinglocation"
                  type="text"
                  placeholder="No 33 patrick bokkor, Nigeria"
                  required
                  name="location"
                />
                <label for="floatinglocation">Location of event</label>
              </div>

              <div class="form-floating mb-3">
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="saveWeather()"
                >
                  Get Weather for the selected date
                </button>
              </div>

              <button
                class="btn btn-primary"
                type="submit"
                [ngStyle]="{ disabled: loading ? 'true' : 'false' }"
              >
                Submit to Create Event
              </button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">
              <a routerLink="/promotions">Go back to view the promotions</a>.
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary"
      >
        <h1 class="mb-4">Casasoft Create Event Panel</h1>
        <p class="lead text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore.
        </p>
      </div>
    </div>
  </div>
</div>
